
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">

          <div *ngFor="let u of listeup"  class="col-xl-3 col-lg-6">



            <div  class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Unité pédagogique</h5>
                        <span class="h2 font-weight-bold mb-0">{{u.nomup}}</span>
                      </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>

              </div>
            </div>



          </div>

  



        </div>
      </div>
    </div>
  </div>
  
<br>
<button class="buttonpos" mat-raised-button color="warn" (click)="openDialog()">Add New Unité pédagogique</button>








<div class="container">
    <div style="margin-top: 10px;">
  
  
  
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <ng-container matColumnDef="nomup">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Up </th>
            <td mat-cell *matCellDef="let row"> {{row.nomup}} </td>
          </ng-container>
      

          
        
     
        
          
        
  
  
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                    <td mat-cell *matCellDef="let row"> 
  
  
                           <button mat-icon-button color="primary" (click)="editUp(row)">
                              <mat-icon>
                                edit
                              </mat-icon>
                            </button>  
  
                            
                            <button mat-icon-button color="warn" (click)="deleteUp(row._id)" >
                              <mat-icon>
                                delete
                              </mat-icon>
                            </button>
                    
                    </td>
                  </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
      
  
    </div>
  </div>
    
  