<div class="dia">

  <h1 mat-dialog-title >Update Classe</h1>
  <div mat-dialog-content  >
  
   <form #f="ngForm" [formGroup]="classeForm" >
  
    <mat-form-field appearance="outline">
      <mat-label>Classe Name</mat-label>
      <input formControlName="nomclasse"  matInput placeholder="Classe Name" >
    </mat-form-field>
    <br>





 

<mat-form-field appearance="outline">
<mat-label>Choose Departement</mat-label>
<mat-select formControlName="nomdepartement">
  <mat-option *ngFor="let u of listdepartement" [value]="u.nomdepartement">
    {{u.nomdepartement}}
  </mat-option>
</mat-select>
</mat-form-field>

    <br>



   

    <mat-form-field appearance="outline">
      <mat-label>Les modules à enseigné</mat-label>
      <mat-select formControlName="nommodules" >
        <mat-option *ngFor="let mod of listModules" [value]="mod.nommodule">{{mod.nommodule}}</mat-option>
      </mat-select>
    </mat-form-field>



    
    <mat-form-field appearance="outline">
      <mat-label>Semestre</mat-label>
      <mat-select formControlName="semestre" >
        <mat-option value="S1">S1</mat-option>
        <mat-option value="S2">S2</mat-option>
      </mat-select>
    </mat-form-field>



    <mat-form-field appearance="outline">
      <mat-label>Periode</mat-label>
      <mat-select formControlName="periode" multiple >
        <mat-option value="P1" >P1</mat-option>
        <mat-option  value="P2">P2</mat-option>
      </mat-select>
    </mat-form-field>



    <mat-form-field appearance="outline">
      <mat-label>Nom enseignant 1</mat-label>
      <mat-select formControlName="nomenseignant1">
        <mat-option *ngFor="let u of listenseignant" [value]="u.nomenseignant">
          {{u.nomenseignant}}
        </mat-option>
      </mat-select>
      </mat-form-field>
    <br>


    <mat-form-field appearance="outline">
      <mat-label>Nom enseignant 2</mat-label>
      <mat-select formControlName="nomenseignant2">
        <mat-option *ngFor="let u of listenseignant" [value]="u.nomenseignant">
          {{u.nomenseignant}}
        </mat-option>
      </mat-select>
      </mat-form-field>

    <br>








    

  
  
  
   </form>
      
   <br>
  </div>
  
  
  
  
  
  
  
  <div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    
    <button [disabled]="f.invalid" style="margin-left: 8px;" mat-raised-button color="primary" mat-dialog-close (click)="addClasse()">{{actionButton}}</button>
    <button [disabled]="f.invalid" style="margin-left: 8px;" mat-raised-button color="primary"    (click)="updateens()">Valider Enseignant</button>

  </div>

    </div>
  
  
