<div class="dia">

    <h1 mat-dialog-title >Add New Niveau</h1>
    <div mat-dialog-content  >
    
     <form #f="ngForm" [formGroup]="classeForm" >
    
      <mat-form-field appearance="outline">
        <mat-label>Classe Name</mat-label>
        <input formControlName="nomclasse"  matInput placeholder="Classe Name" >
      </mat-form-field>
      <br>




 
      <mat-form-field appearance="outline">
        <mat-label>Nombre Classes</mat-label>
        <input formControlName="nombreclasses"  matInput placeholder="Nombre Classes">
      </mat-form-field>
      <br>

   

  <mat-form-field appearance="outline">
  <mat-label>Choose Departement</mat-label>
  <mat-select formControlName="nomdepartement">
    <mat-option *ngFor="let u of listdepartement" [value]="u.nomdepartement">
      {{u.nomdepartement}}
    </mat-option>
  </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Semestre</mat-label>
    <mat-select  formControlName="semestre">
      <mat-option value="S1" >
        S1
      </mat-option>
      <mat-option value="S2"  >
        S2
      </mat-option>
    </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Periode</mat-label>
      <mat-select  formControlName="periode" multiple>
        <mat-option value="P1" >
          P1
        </mat-option>
        <mat-option value="P2" >
          P2
        </mat-option>
      </mat-select>
      </mat-form-field>








      <mat-form-field appearance="outline">
        <mat-label>Année Universitaire</mat-label>
        <mat-select  formControlName="anneuni" >
          <mat-option value="2022-2023" >
                 2022-2023
          </mat-option>

          <mat-option value="2023-2024" >
            2023-2024
          </mat-option>
          <mat-option value="2024-2025" >
            2024-2025
          </mat-option>

          <mat-option value="2025-2026" >
            2025-2026
          </mat-option>


          <mat-option value="2026-2027" >
            2026-2027
          </mat-option>  <mat-option value="2027-2028" >
            2027-2028
          </mat-option>  <mat-option value="2028-2029" >
            2028-2029
          </mat-option>


        
        <mat-option value="2029-2030" >
          2029-2030
        </mat-option>

        </mat-select>
        </mat-form-field>



















      <br>



     

      <mat-form-field appearance="outline">
        <mat-label>Les modules à enseigné</mat-label>
        <mat-select formControlName="nommodules">
          <mat-option *ngFor="let mod of listModules" [value]="mod.nommodule">{{mod.nommodule}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nombre d'enseignant </mat-label>
        <input formControlName="nbreenseignant"  matInput placeholder="Nombre d'enseignant">
      </mat-form-field>
      <br>



       
      


      
 
    
    
    
     </form>
        
     <br>
    </div>
    
    
    
    
    
    
    
    <div mat-dialog-action [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>Close</button>
      
      <button [disabled]="f.invalid" style="margin-left: 8px;" mat-raised-button color="primary" mat-dialog-close (click)="addClasse()">{{actionButton}}</button>
      
      </div>
    
    
    </div>